{
  "extends": "airbnb-base/legacy",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "env": {
    "browser": true,
    "webextensions": true
  },
  "rules": {
    "no-var": "off",
    "indent": ["error", 4],
    "quotes": ["error", "double"],
    "linebreak-style": "off",
    "max-len": ["error", { "code": 80 }],
    "no-restricted-globals": "warn",
    "no-unused-vars": "warn",
    "no-shadow":"warn",
    "vars-on-top":"warn"
  }
}
