#header {
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 200%;
    height: 60px;
    width: 385px;
    text-align: center;
}

body {
    min-width: 379px;
    font-size: 100%;
    font-family: "sans-serif", Arial, Helvetica;
}

#searchButton {
    border: 0px;
    background: none;
}

#searchIcon {
    opacity: 0.6;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#searchIcon:hover {
    opacity: 1;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#query {
    border: 0px;
    padding: 10px;
}

input:focus {
    outline: none;
}

#main form table {
    width: 385px;
    color: black;
}

#main #query {
    font-size: 100%;
    width: 270px;
}

#main form table tr td {
    height: 40px;
    text-align: center;
}

#searchButton {
    style: none;
}

#suggest {
    height: 40px;
    margin: 0px auto;
}

#suggest-label {
    border: 1px solid #FF5A00;
    opacity: 0.5;
    color: #FF5A00;
    padding: 4px;
    font-size: 75%;
    text-align: center;
    position: absolute;
    left: 170px;
    border-radius: 2px;
    transition: all 0.5s;
}

#suggest-label:hover {
    opacity: 1;
}

.card {
    padding: 4px;
    background: #fff;
    border-radius: 2px;
    display: inline-flex;
    margin: 1rem;
    position: relative;
}

#searchBox {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#searchBox:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#searchBox:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#searchWarning {
    border: 1px solid tomato;
    color: tomato;
    padding: 4px;
    font-size: 75%;
    text-align: center;
    position: absolute;
    margin: 0px auto;
    border-radius: 2px;
    left: 30%;
    bottom: 38%;
}

#checkboxWarning {
    border: 1px solid tomato;
    color: tomato;
    padding: 4px;
    font-size: 75%;
    text-align: center;
    position: absolute;
    margin: 0px auto;
    border-radius: 2px;
    left: 18%;
    bottom: 66px;
}
