body {
	min-width: 379px;
	font-size: 180%;
}

img {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	}

.overlay {
		font-family: 'Pacifico', cursive;
    color: #ffffff;
    position: absolute;
    z-index: 12;
    top: 20%;
		left: 0;
    width: 100%;
    text-align: center;
		text-shadow: 2px 2px #000000;
		font-size:350%; "
}

#check_type{
	margin-right: 5px;
}

.checkbox-inline{
	margin-left: 25px;
}

#search_btn{
	margin-top: 8px;
	margin-bottom: 5px;
}
